//@import "../font/style.css";

//$primary:#fe9831 ;
$primary:#019631 ;
$secondary:#ff6d0d  ;
$accent:#48b44d;

//$primary:#85b0be ;
//$accent:#48b44d;
//$accent:#375665;
// Body
$body-bg: #f8fafc;
$black: #000;
$white: #ffffff;
$max-width:1710px;

html,:root{
  scroll-behavior: smooth;
}

